---
export interface Props {
  content: {
    title: string
    description: string
    heroImage?: string
    mega?: string
    mediafire?: string
    tutorial?: string
    keywords?: string
  }
}

const {
  content: { title, description, heroImage, mega, mediafire, tutorial, keywords },
} = Astro.props

import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Header from '../components/Header.astro'
import Aside from '../components/Aside.astro'
import Tutorial from '../components/Tutorial.astro'
---

<!DOCTYPE html>
<html lang="es" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  <link rel="icon" type="image/svg+xml" href="/16x16.svg" sizes="16x16"/>
  <link rel="icon" type="image/svg+xml" href="/32x32.svg" sizes="32x32"/>
  <link rel="icon" type="image/svg+xml" href="/96x96.svg" sizes="96x96"/>
  <link rel="apple-touch-icon" type="image/svg+xml" href="180x180.svg" sizes="180x180" >
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="programas.ml"/>
  <!-- Analitycs -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CX5LSP1M8X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CX5LSP1M8X');
  </script>
  <!-- ADS -->
  <script type='text/javascript' src='//resetselected.com/8d/ed/ff/8dedff145384ba4cd43eb782545e4261.js'></script>
</head>

<Body>
    <Header isProgram='true'/>
    <main class="pt-[120px]">
      <Content>
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="rounded-xl mx-auto"
                width={220}
                height={60}
                src={heroImage}
                alt={`puede ser una imagen de ${title}`}
              />
            )
          }
        </div>
        <h1 class="text-5xl my-8 font-mplus">{title}</h1>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
        <Tutorial link={tutorial} title={title}/>
        <h2 class="text-3xl my-8 font-mplus">Enlaces de descarga:</h2>
        <ul class="list-disc flex flex-col gap-5 ml-14 mb-10">
          <li><a class="underline text-sky-500" href={mega} target="_blank">Mega</a></li>
          {
            mediafire === "" ? "" : <li><a class="underline text-sky-500" href={mediafire} target="_blank">Mediafire</a></li>
          }
        </ul>

        <p class="mb-32">Contraseña: <b>rxtsel</b></p>

      </Content>
    </main>
  <script type="module" src='/helpers/index.js'></script>
 <Aside position='left' /> 
 <Aside position='right' /> 
</Body>
<style>
:global(html) {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:global(*), :global(*):before, :global(*):after {
	box-sizing: inherit;
}

:global(body) {
	font-size: 1.6rem;
	margin: 0 auto;
	padding: 0;
}

:global(p) {
  line-height: 1.5;
}

</style>
